# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# React
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/

# Environment
.env
backend/.env
frontend/.env

# Python cache
*.pyc
*.pyo

# Logs
*.log

# Mongo
data/

# OS
.DS_Store
Thumbs.db